# Prise en main de Numpy
## Manipulation des tableaux √† une dimension
### 1-Quel est la difference entre un tableau Numpy et une liste Python ?

A premi√®re vue les tableau Numpy sont similaire au liste python, la difference principale reside dans les operation arithetique.
Les tableau Numpy sont plus puissant pour les calcules arithmetique, plus compacte et plus rapide lorsque la valeur dans le tableau sont de m√™me type.

### 2-Comment cr√©e un tableau Numpy
Il existe plusieur fa√ßons de cr√©e un tableau Numpy
- cr√©e √† partir d'une liste Python:

In [23]:
import numpy as np
numpy_array = np.array([12, 21, 45, 56])
print(numpy_array)

[12 21 45 56]

on utilise la fonction ```array()``` qui va prendre en param√®tre une liste et elle va retourner un tableau Numpy tout beaux üòâ

NB: tu remarquera que les √©l√©ments du tableau ne sont pas separer par des virgule quand on l'a afficher contrairement au liste Python

Pour afficher le type du tableau on utilise l'attribue ```dtype``` et pour connaitre la taille du tableau on utilise ```shape```

In [24]:
numpy_array.dtype

dtype('int32')

In [25]:
numpy_array.shape

(4,)

NB: Si le tableau contient des valeur de type different alors le type du tableau sera un peu bizarre üôÉ

In [31]:
numpy_array = np.array([1, 'salut', 3])
numpy_array.dtype

dtype('<U11')

üôãüèæ‚Äç‚ôÇÔ∏èpour ajouter une element √† la fin de mon tableau est-ce que j'utilise toujour append() ?

**NON**
C'est un peu l'inconveniant avec les tableaux Numpy, on peut pas ajouter de valeur √† la fin du tableau !

Il faut donc soit: 
- √™tre s√ªr que ta liste Python contient tout ce dont tu as besoin et ensuite tu la convertit en tableau Numpy
- pr√©allouer l'espace n√©cessaire

D√©cortiquons le deuxi√®me point.
Pour pr√©allouer l'espace on a plusieurs choix. Voici les plus utilis√©: ```zeros```, ```empty```, ```ones```, ```full```

üôãüèæ‚Äç‚ôÇÔ∏èmais quel est la difference ?

- ```zeros``` cr√©ait un tableau en le remplissant de 0 
- ```ones``` cr√©ait un tableau en le remplissant de 1
- ```empty``` cr√©ait un tableau et ne met rien dedans, le tableau peu donc contenir n'importe quoi, comme du chinois par exemple üòâ
- ```full``` cr√©ait un tableau en le remplissant de la valeur que tu lui donne

Assez de th√©orie, passons √† la pratique !

In [7]:
tab_zeros = np.zeros(4)
print(tab_zeros)

[0. 0. 0. 0.]

In [9]:
tab_ones = np.ones(4)
print(tab_ones)

[1. 1. 1. 1.]

In [10]:
tab_empty = np.empty(4)
print(tab_empty)

[1. 1. 1. 1.]

NB: tu remarquera qu'avec empty le tableau est remplie avec les valeur de la derni√®re operation, 1 ici

In [12]:
tab_full = np.full(4, 5.)
print(tab_full)

[5. 5. 5. 5.]

NB: tu remarquera que les valeurs qui remplisse nos tableaux sont des r√©√©ls, en effet c'est le comportement par d√©faut !<br>
Pour emp√™cher cela il est possible de pr√©ciser le type que tu souhaite en ajoutant comme deuxi√®me param√®tre(comme troisi√®me parametre si c'est ```full```) le type voulus

In [22]:
tab_zeros = np.zeros(4, int)
print(tab_zeros)
print(tab_zeros.dtype)

[0 0 0 0]
int32

In [21]:
tab_full = np.full(4, 5., float)
print(tab_full)
print(tab_full.dtype)

[5. 5. 5. 5.]
float64

üôãüèæ‚Äç‚ôÇÔ∏èC'est beaux tout √ßa mais sa marche uniquement si je connais √† l'avence la taille du tableau donc Numpy n'est pas aussi puissant que √ßa en faite !

Et bien tu te trompe ! <br>
Il est possible de cr√©er des tableaux qui s'inspire d'un autre tableau d√©j√† existant. Le nouveau tableau va prendre la taille et le type du tableau que tu lui aura fournie, il suffit d'ajouter ```_like``` au nom des fonctions.<br>
Exemple:

In [24]:
a = np.array([1, 2])
tab_ones = np.ones_like(a)
print(tab_ones)

[1 1]

tab_ones a gard√© le type de a (int) et la taille de a (2) mais il n'a pas pris les valeurs de a, il continue de mettre ses 1

üôãüèæ‚Äç‚ôÇÔ∏ècool, je poss√®de maintenant tous les fonctions pour cr√©er des tableaux avec Numpy, on peut passer maintenant √† la prochaine √©tape

En fait c'est pas toutes les fonctions pour cr√©er des tableaux avec Numpy, il y'en a beaucoup d'autre et la plupart sont semblable au methode que tu as l'habitude d'utiliser avec Python.<br>
Parmit ces fonction nous avons: <br>
- ```numpy.arange(debut, fin, intervale_entre_valeur)```, seul le param√®tre *fin* est obligatoire
- ```numpy.linspace(debut, fin, nombre_de_valeur_a_avoir)```, tous les parametres sont obligatoire
- ```numpy.random.randint(min, max, nombre_de_valeur_a_avoir)```, g√©n√®re de valeurs enti√®re aleatoires, le max n'√©tant pas compris
- ```numpy.random.uniform(min, max, nombre_de_valeur_a_avoir)```, g√©n√®re de valeurs r√©el aleatoires, le max n'√©tant pas compris
- ```numpy.random.rand(nombre_de_valeur_a_avoir)```, g√©n√®re des valeurs entre 0 et 1
- ```numpy.random.randn(nombre_de_valeur_a_avoir)```, g√©n√®re des valeurs dont la moyen est proche de 0 et l'ecart type proche de 1
- ```numpy.random.normal(valeur_moyen, ecart_type, nombre_de_valeur_a_avoir)```, g√©n√®re des valeur dont la moyen ne depasse pas valeur_moyen et l'ecart type ne depasse pas ecart_type

<br>![Fonction pour g√©n√©rer des tableaux](https://miro.medium.com/max/720/1*NNCWBPDCPfLtNYDc_ul5SA.png)<br><br>
![Fonction pour g√©n√©rer des tableaux](https://miro.medium.com/max/720/1*ps2PYTthKUdNbzynKjW4oQ.png)

Il √©galement une nouvelle interface pour la g√©neration de tableau al√©atoire, il sont plus permorfat que les autres.<br>
Parmet ces interface nous avons:<br>
- ```integers(min, max, nombre_de_valeur_a_avoir)```, seul le param√®tre *fin* est obligatoire. max n'est pas compris dans les valeurs g√©n√©rer
- ```random(nombre_de_valeur_a_avoir)```, si on n'indique pas le nombre de valeur il va g√©n√©rer seulement une valeur
- ```uniform(min, max, nombre_de_valeur_a_avoir)```, g√©n√®re de valeurs r√©el aleatoires, le max n'√©tant pas compris
- ```normal(valeur_moyen, ecart_type, nombre_de_valeur_a_avoir)```, g√©n√®re des valeur dont la moyen ne depasse pas valeur_moyen et l'ecart type ne depasse pas ecart_type
- ```standard_normal(nombre_de_valeur_a_avoir)```, g√©n√®re des valeurs dont la moyen est proche de 0 et l'ecart type proche de 1

![Fonction pour g√©n√©rer des tableaux](https://miro.medium.com/max/720/1*oFoQ5Vw4s9mx7RyUi1wYOA.png)

üôãüèæ‚Äç‚ôÇÔ∏èmais attend, je vois double ou il y'a r√©petition avec les m√©thodes pr√©cedente ?

Non tu ne vois pas double, les methodes se ressemble belle et bien mais la diff√©rence est que ce n'est pas le m√™me objet qu'il les appelle.<br>
Pour les methodes pr√©cedente on passait directement par Numpy, mais ceux-ci on doit passer par un autre objet en plus de Numpy, c'est le ```numpy.random.default_rng()```.<br>
Exemple:<br>

In [33]:
rng = np.random.default_rng()
tab0 = rng.integers(2, 5, 5)
tab1 = rng.random(5)
tab2 = rng.uniform(2,5,5)
tab3 = rng.normal(2, 3, 5)
tab4 = rng.standard_normal(5)
print("tab0 = ",tab0)
print("tab1 = ",tab1)
print("tab2 = ",tab2)
print("tab3 = ",tab3)
print("tab4 = ",tab4)

tab0 =  [3 4 2 4 3]
tab1 =  [0.58960825 0.43301681 0.52418257 0.03344579 0.7237077 ]
tab2 =  [2.06277397 3.0366042  2.43340847 3.86677233 4.75153473]
tab3 =  [0.01380055 2.98251998 0.83017066 4.17354652 1.10652121]
tab4 =  [-0.4454751   0.01771418  0.51935415 -0.29162876 -0.94538361]

Une fois qu'on a notre tableau Numpy en main, il est facile d'acc√©der √† ces √©l√©ments, on effectue les m√™mes manipulations que pour acc√©der au √©l√©m√©nt d'une liste Python<br>
![Manipulation des √©l√©ments d'un tableau Numpy](https://miro.medium.com/max/720/1*4xpufyWZWcIbabsOHVlc4g.png)

NB: Il faut faire attention avec les tableaux Numpy, les op√©ration du genre tab1 = tab2[:] ne cr√©e pas une copie de tab2 dans tab1 comme avec les listes Python, cela fait plut√¥t de tab1 une r√©ference de tab2.<br>
Exemple:<br>

In [43]:
np_array = np.array([1,2,3])
a = np_array[:]
print("a avant: ", a)
print("np_array avant: ", np_array)
a[0] = 6
print("a apr√®s: ", a)
print("np_array apr√®s: ", np_array)

a avant:  [1 2 3]
np_array avant:  [1 2 3]
a apr√®s:  [6 2 3]
np_array apr√®s:  [6 2 3]

In [101]:
a = np.array([2, 3, 4, 6, 7, 8])
print(a[:2]) # affiche les valeur du tableau en commen√ßant par le premier √©l√©ment et s'arr√™tant √† l'indice 2-1

[2 3]

Il est aussi possible d'aller plus loin en utilisant 2 fois 2 point.<br>
Pour un tableau a nous avons: a[debut:nbre_de_valeur_a_affucher:le_pas]

In [125]:
print(a[::2]) # affiche les valeurs en faisant un pas de 2

[2 4 7]

In [95]:
print(a)
a[::-1]

[[6 5 4 3 2 1]]

array([[6, 5, 4, 3, 2, 1]])

Une autre puissance des tableaux Numpy est qu'on peut appliquer des op√©rateurs logique pour avoir plus de flexibilit√©.<br>
Comme une image vaut mieux qu'un long discours en voici un pour que vous puissiez mieux comprendre.<br>
![Manipulation d'un tableau Numpy avec des op√©rateurs logique](https://miro.medium.com/max/720/1*nFGcXav_xxD7TXGiRYMpHg.png)

La fonction ```any``` permet d'obtenir uniquement les valeurs qui respecte la condition entre parenth√®se contrairement √† la fonction ```all``` qui permet d'obtenir tous les valeurs except√© ceux qui respecte la condition entre parenth√®se.

In [128]:
print(a)
np.any(a > 9) # existe t-il une valeur sup√©rieur √† 9

[2 3 4 6 7 8]

False

In [135]:
np.all(a > 1) # est ce que tous les valeurs sont strictement sup√©rieur √† 1

True

In [137]:
a[(a > 4) & (a < 8)] = 1 # tous les valeurs qui sont strictement sup√©rieur √† 4 et strictement inferieur √† 8 remplace les par 1
print(a)

[2 3 4 1 1 8]

Numpy poss√®de d'autre outils dans sa mache qui permettent aussi de manipuler les √©l√©ments d'un tableau.<br>
Allez, comme vous aimez les images voici un autre<br>
![Manipulation des √©l√©m√©nt d'un tableau Numpy avec where et clip](https://miro.medium.com/max/720/1*fLUqfXDFbKtGVBl5VwuySQ.png)

La fonction ```where``` prend au minimum 3 param√®tre. La pr√©mi√®re c'est une expr√©ssion, la deuxi√®me c'est la valeur qui remplace les autres valeur qui respecte la condition et la troisi√®me c'est la valeur qui remplace les autres valeur qui ne respectent pas la condition

In [140]:
print(a)
a = np.where(a>3, 2, 0) # partout o√π a est superieur √† 3, remplacer par 2 sinon remplacer par 0
print(a)

[2 3 4 1 1 8]
[0 0 2 0 0 2]

In [151]:
print(a)
a = np.clip(a, 2, 4) # partout o√π a est strictement inferieur √† 2, remplacer par 2 
# et partout o√π a est strictement superieur √† 4 remplacer par 4
print(a)

[2 2 3 4 4]
[2 2 3 4 4]

La plupart des fonction **math** de Python ont leur homologues Numpy qui peuvent g√©rer des vecteurs.<br>
![Fonction homologue du module math dans Numpy](https://miro.medium.com/max/720/1*Pc4t0jilbHSM0sMwtVNGIA.png)

Pour le produit scalaire:<br>
![Le produit scalaire](https://miro.medium.com/max/720/1*rDUgKZO4bj9_SSRY6ddnfg.png)

Pour les fonctions trigonometrique:<br>
![Les fonction trigonometrique](https://miro.medium.com/max/720/1*wyHVvsoUdsHA0RedM6kdvQ.png)

On peut √©galement arrondir les valeurs du tableau:<br>
![Fonctions pour arrondir](https://miro.medium.com/max/720/1*GkjXtrFriVBXTQove8vEPw.png)

Il existe √©galement des fonctions pour obtenir les valeurs maximal et minimal ainsi que leur indice, la somme, l'ecart type, la moyenne et aussi la variance.<br>
![Obtenir le maximum et le minimum](https://miro.medium.com/max/720/1*TAB7WXfvTM7FxD1bJ7augQ.png)

Exemple:<br>

In [73]:
a = np.array([0,7,2])
print(a.max()) # valeur maximal
print(a.min()) # valeur minimal
print(a.argmax()) # indice du valeur maximal
print(a.argmin()) # indice du valeur minimal
print(a.mean()) # la moyenne du tableau
print(a.std()) # l'ecart type
print(a.sum()) # la somme
print(a.var()) # la variance

7
0
1
0
3.0
2.943920288775949
9
8.666666666666666

Numpy permet aussi de trier le tableau.<br>
![Fonction de trie](https://miro.medium.com/max/1400/1*mmS5_eCb8onu7MYjjdYpFw.png)

In [174]:
a = [2, 6, 5, 2, 3, 2, 2]
print(a)
a = np.sort(a)
print(a)

[2, 6, 5, 2, 3, 2, 2]
[2 2 2 2 3 5 6]

In [186]:
print(a)
np.where(a == 2)[0][0] # revoie l'indice d'une pr√©mi√®re occurence

[2 2 2 2 3 5 6]

0

In [ ]:
Il existe plusieurs fa√ßons pour acceder √† l'indice d'une valeur, je vais vous montrez quelques un:<br>

In [191]:
np.where(a == 2)[0][0]

0

In [192]:
next(i[0] for i, v in np.ndenumerate(a) if v==2)

0

In [193]:
np.searchsorted(a, 2)

0

üôãüèæ‚Äç‚ôÇÔ∏èmais quel est la diff√©rence entre ces 3 possibilt√© ?

La diff√©rence principale reside dans la rapidit√© d'√©xecution.<br>
Le troisi√®me est plus rapide que le deuxi√®me qui est plus rapide que le troisi√®me

### 3-Comparer les valeurs flottants
Parmit les fonction de comparaison nous avons ```√†llclose``` et ```isclose```<br>
Voici une image explicatif:<br>
![Fonction de comparaison de valeur flottant](https://miro.medium.com/max/720/1*LZWByfm3vyHXhNreHGy3hQ.png)

Exemple:

In [194]:
np.allclose(2.1+1.1, 3.2)

True

In [195]:
np.isclose(2.1+1.1, 3.2)

True

In [196]:
2.1+1.1 == 3.2

True

## Manipulation des tableaux √† double dimension
La manipulation des tableaux √† double dimension sont tr√®s similaire aux tableaux √† une dimension de par les noms des fonctions et attribues.<br>
Pour cr√©er un tableau 2D c'est tr√®s simple, il suffit de separer les tableaux par des vigules.<br>
Exemple:

In [4]:
tab_2d = np.array([[1, 2, 3],[4, 5, 6]])
tab_2d

array([[1, 2, 3],
       [4, 5, 6]])

NB: il ne faut pas oublier de mettre les 2 tableau dans un grand crochet !<br>
Pour connaitre le type et la taille on utilise les m√™mes attribut, √† savoir *dtype* et *shape*

In [6]:
tab_2d.dtype

dtype('int32')

In [7]:
tab_2d.shape

(2, 3)

Donc ici nous avons une matrice de 2 ligne et 3 colonnes

In [8]:
len(tab_2d)

2

On utilise √©galement les fonctions *zeros*, *ones*, *full* et *empty* pour pr√©allouer l'espace

In [9]:
tab_2d_zeros = np.zeros((2,3))
tab_2d_ones = np.ones((2,3))
tab_2d_full = np.full((2,3),7)
tab_2d_empty = np.empty((2,3))

print(tab_2d_zeros)
print(tab_2d_ones)
print(tab_2d_full)
print(tab_2d_empty)

[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]
[[7 7 7]
 [7 7 7]]
[[0. 0. 0.]
 [0. 0. 0.]]

Les tableaux √† 2D poss√®dent en plus une autre methode appell√© *eye*, qui permet d'initialiser la diagonal par des 1. et les autres par des des 0.

In [14]:
np.eye(3, 3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

On peut √©galement se limit√© √† un seul argument

In [15]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Voici une image pour mieux comprendre<br>
![Fontion pour pr√©allouer un tableau √† 2D](https://miro.medium.com/max/720/1*aLMuXA81pDXaw0J0QdKvRQ.png)

Les tableaux √† 2D utilisent aussi le module *random* ainsi que les fonction qu'elle peut nous affrire<br>
![Les tableaux 2D et le module random](https://miro.medium.com/max/720/1*O9bawffUMaZeQw1g0DuHrg.png)

NB: Tu aura sans doute remarqu√© que certaines fonctions prennent des tuples et d'autres des param√®tres en plus, c'est tout √† fait normal puisqu'on parle bien de tableau √† **2D**.

Nous pouvons aussi utilis√© les fonctions *integers*, *random*, *uniform*, *normal*, *standard_normal*

On peut √©galement √©ffectuer des operations d'indexation.<br>
![Operation d'indexation](https://miro.medium.com/max/720/1*brbsl7QFZGWfmvgFHMwt9Q.png)

In [17]:
print(tab_2d)
tab_2d[1,2] # 2i√®me ligne 3i√®me colonne (n'oublie que les indices commence √† partir de 0)

[[1 2 3]
 [4 5 6]]

6

In [23]:
tab_2d[:,1] # toute les ligne mais uniquement la 2i√®me colonne

array([2, 5])

Le signe "afficher" signifie qu'aucune copie n'est r√©ellement effectu√©e lors du d√©coupage d'un tableau. Lorsque le tableau est modifi√©, les modifications sont √©galement r√©percut√©es dans la tranche.

Du fait de sa double dimension, les tableaux 2D utilisent le principe de l'*axe*.<br>
Pour pouvoir mieu comprendre utilisons la fonction **sum**<br>
Notre objectif va √™tre de calculer la somme des lignes et des colonnnes

In [24]:
print(tab_2d)
tab_2d.sum(axis=0) # fait la somme des valeurs en fonction de la colonne

[[1 2 3]
 [4 5 6]]

array([5, 7, 9])

In [25]:
print(tab_2d)
tab_2d.sum(axis=1) # fait la somme des valeurs en fonction de la ligne

[[1 2 3]
 [4 5 6]]

array([ 6, 15])

On peut egalement effectuer des operation ordinaire sur nos matrice en faisant comme dans l'image ci-dessous.<br>
![Les operations arithmetique sur les matrices](https://miro.medium.com/max/720/1*z0vpti4m5rnRdG7tjFBAAA.png)

le **@** permet de faire le produit matriciel

In [37]:
tab_2d = np.array([[1, 2],[3, 4]])
tab1_2d = np.array([[4, 3],[2, 1]])
print(tab_2d)
print(tab1_2d)
tab1_2d@tab_2d

[[1 2]
 [3 4]]
[[4 3]
 [2 1]]

array([[13, 20],
       [ 5,  8]])

Numpy permet de faire des calcules entre vecteur et matrice.<br>
![Operation vecteur-matrice](https://miro.medium.com/max/720/1*qbi-kCjxBE9Wd6Y0cKHfaQ.png)

In [5]:
vecteur = np.array([1, 2])
tab_2d / vecteur

array([[1., 1.],
       [3., 2.]])

In [6]:
tab_2d * vecteur

array([[1, 4],
       [3, 8]])

In [7]:
nb = 5
tab_2d * nb

array([[ 5, 10],
       [15, 20]])

![Produit vectoriel](https://miro.medium.com/max/720/1*AxPMBAD67SbeXV4wEdcamQ.png)

In [10]:
vecteur1 = np.array([2,4,6])
vecteur2 = np.array([1,3,5])
vecteur1 @ vecteur2

44

Voyons maintenant comment pass√© de ligne en colonne et de colonne en ligne.<br>
On utiliser g√©n√©ralement le technique de transposition pour effectuer les diff√©rentes conversion et pour cela nous utilisons courament la m√©thodes ```reshape```

Representation de la transpos√©<br>
![Representation de la transpos√©](https://miro.medium.com/max/720/1*PYk9Ukt2OpnWXrlYqjXEBw.png)<br>

La m√©thode reshape<br>
![La m√©thode reshape](https://miro.medium.com/max/720/1*ettWjwGl17oyxeSvAHtbCQ.png)<br>

Diagramme de conversion<br>
![Diagramme de conversion](https://miro.medium.com/max/720/1*d9j1sDyzpBXLxK11vU-Mtw.png)<br>

In [14]:
tab_2d = np.array([[1,2,3,4,5,6]])
tab_2d.reshape(-1,1) # transposition de tab_2d

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [16]:
tab_2d.reshape(2, 3) # transformation d'une ligne en 2 ligne et 3 colonnne

array([[1, 2, 3],
       [4, 5, 6]])

In [22]:
tab_2d[:,None]

array([[[1, 2, 3, 4, 5, 6]]])

In [33]:
r = np.array([[1,2]])
r.flatten()
r.reshape(-1)
np.ravel(r)

array([1, 2])

Il existe principalement 2 fonctions pour joindre les tableaux, ```hstack``` et ```vstack```<br>
![Joindre des tableaux](https://miro.medium.com/max/720/1*SJbmp5_qJixVztVMJQn9sw.png)

Il y'a une contrainte pour chaque fonction.<br>
Pour la fonction **hstack** il faut obligatoirement que les 2 tableaux aient le m√™me nombre de **ligne**.<br>
Pour la fonction **vstack** il faut obligatoirement que les 2 tableaux aient le m√™me nombre de **colonne**.

In [50]:
tab_2d = np.random.randint(5,25, (3,4)) # g√©n√©ration d'une matrice de 3 ligne et 4 colonne
tab = np.random.randint(2,10,(3,6)) # g√©n√©ration d'une matrice de 3 ligne et 6 colonne
print(tab_2d)
print()
print(tab)
np.hstack((tab_2d,tab)) # jointure de 2 tableaux (tab_2d et tab)

[[ 7 22 16 11]
 [13  7 14 16]
 [11 22 10 15]]

[[8 9 2 5 4 3]
 [8 5 8 5 3 4]
 [5 8 2 3 4 8]]

array([[ 7, 22, 16, 11,  8,  9,  2,  5,  4,  3],
       [13,  7, 14, 16,  8,  5,  8,  5,  3,  4],
       [11, 22, 10, 15,  5,  8,  2,  3,  4,  8]])

In [54]:
tab_2d = np.random.randint(5,25, (3,4)) # g√©n√©ration d'une matrice de 3 ligne et 4 colonne
tab = np.random.randint(2,10,(2,4)) # g√©n√©ration d'une matrice de 2 ligne et 4 colonne
print(tab_2d)
print()
print(tab)
np.vstack((tab_2d,tab)) # jointure de 2 tableaux (tab_2d et tab)

[[ 8 14 12  6]
 [ 7 14  6 20]
 [ 5 21 14  7]]

[[3 8 3 7]
 [4 7 9 8]]

array([[ 8, 14, 12,  6],
       [ 7, 14,  6, 20],
       [ 5, 21, 14,  7],
       [ 3,  8,  3,  7],
       [ 4,  7,  9,  8]])

Il est √©galement possible d'utiliser la fonction *column_stack* √† la place de *hstack*

In [55]:
tab_2d = np.random.randint(5,25, (3,4)) # g√©n√©ration d'une matrice de 3 ligne et 4 colonne
tab = np.random.randint(2,10,(3,6)) # g√©n√©ration d'une matrice de 3 ligne et 6 colonne
print(tab_2d)
print()
print(tab)
np.column_stack((tab_2d,tab)) # jointure de 2 tableaux (tab_2d et tab)

[[17 12 14 17]
 [ 7 11 19 21]
 [ 9  7  7 15]]

[[8 7 5 5 3 7]
 [7 4 5 9 3 2]
 [8 2 9 9 4 2]]

array([[17, 12, 14, 17,  8,  7,  5,  5,  3,  7],
       [ 7, 11, 19, 21,  7,  4,  5,  9,  3,  2],
       [ 9,  7,  7, 15,  8,  2,  9,  9,  4,  2]])

A l'inverse, on peut d√©tacher des tableaux, pour ce faire on utilise les fonction **hsplit** et **vsplit**.

L√† aussi il y'a une contrainte pour chaque fonction.<br>
Pour la fonction **hsplit** il faut indiquer l'indice de la **colonne** √† partir du quel on doit couper.<br>
Pour la fonction **vsplit** il faut indiquer l'indice de la **ligne** √† partir du quel on doit couper.<br><br>
![La fonction hsplit et vsplit](https://miro.medium.com/max/720/1*ADtgaXz1wxze7c6K6kK9CQ.png)

In [74]:
tab_2d = np.random.randint(5,25, (5,6)) # g√©n√©ration d'une matrice de 5 ligne et 6 colonne
print(tab_2d)
np.hsplit(tab_2d, [4])

[[10 18 22 11 16 24]
 [17  5  8  8 11 17]
 [19 14 18 18 20  9]
 [ 6 14 13 15 22 20]
 [21 14 24  5  7 18]]

[array([[10, 18, 22, 11],
        [17,  5,  8,  8],
        [19, 14, 18, 18],
        [ 6, 14, 13, 15],
        [21, 14, 24,  5]]),
 array([[16, 24],
        [11, 17],
        [20,  9],
        [22, 20],
        [ 7, 18]])]

In [79]:
tab_2d = np.random.randint(5,25, (5,6)) # g√©n√©ration d'une matrice de 5 ligne et 6 colonne
print(tab_2d)
np.vsplit(tab_2d, [3])

[[24  6 19 22 15  7]
 [19 12 23  5  6  5]
 [18 22 22 15 21 14]
 [10  9 17 22  6  8]
 [ 7 18 19 19 17 21]]

[array([[24,  6, 19, 22, 15,  7],
        [19, 12, 23,  5,  6,  5],
        [18, 22, 22, 15, 21, 14]]),
 array([[10,  9, 17, 22,  6,  8],
        [ 7, 18, 19, 19, 17, 21]])]

üôãüèæ‚Äç‚ôÇÔ∏èet si je souhaite diviser en 3 tableaux egale, je fais comment ?

In [80]:
tab_2d = np.random.randint(5,25, (6,4)) # g√©n√©ration d'une matrice de 6 ligne et 4 colonne
print(tab_2d)
np.vsplit(tab_2d, [2,4])

[[17 16 17 24]
 [16 11 11 12]
 [20  8 22 12]
 [14  6  9  8]
 [ 5 20  8 14]
 [13 24 22  5]]

[array([[17, 16, 17, 24],
        [16, 11, 11, 12]]),
 array([[20,  8, 22, 12],
        [14,  6,  9,  8]]),
 array([[ 5, 20,  8, 14],
        [13, 24, 22,  5]])]

On a ainsi 3 tableaux de m√™me dimension

üôãüèæ‚Äç‚ôÇÔ∏èpas tr√®s pratique √ßa, je souhaite juste avoir un nombre de tableau de m√™me dimension. N'y a t'il un raccourcie ?

Et bien oui, il y'en a, il suffit de faire comme dans l'exemple suivant:<br>

In [81]:
print(tab_2d)
np.vsplit(tab_2d, 3)

[[17 16 17 24]
 [16 11 11 12]
 [20  8 22 12]
 [14  6  9  8]
 [ 5 20  8 14]
 [13 24 22  5]]

[array([[17, 16, 17, 24],
        [16, 11, 11, 12]]),
 array([[20,  8, 22, 12],
        [14,  6,  9,  8]]),
 array([[ 5, 20,  8, 14],
        [13, 24, 22,  5]])]

Ici j'ai indiqu√© le nombre de tableau que je souhaite avoir (ici 3).<br>
**ATTENTION:** il faut que le nombre de tableau que tu souhaite avoir soit un diviseur de la dimension correspondante, c'est √† dire qu'avec vsplit etant donn√© qu'on joue sur les lignes, il faut que le nombre de ligne soit un multiple du nombre de tableau que tu souhaite avoir.<br>Avec le hsplit c'est le nombre de colonne qui doit √™tre un multiple du nombre de tableau que je souhaite avoir

On peut aussi multiplier les tableaux avec les m√©thode ````tile``` et ````repeat```.<br>
tile agit comme un copier-coller et repeat comme une impression assembl√©e.<br>
![Fonctions tile et repeat](https://miro.medium.com/max/720/1*kCClP8kiegtYZNyEdsCPbw.png)

In [84]:
tab_2d = np.random.randint(2, 10, (2,2))
np.tile(tab_2d, (2,3)) # copie de tab_2d en 2 lignes et 3 colonnes

array([[8, 2, 8, 2, 8, 2],
       [3, 5, 3, 5, 3, 5],
       [8, 2, 8, 2, 8, 2],
       [3, 5, 3, 5, 3, 5]])

In [87]:
b = tab_2d.repeat(3, axis=1) # repetition sur la ligne
print(b)

[[8 8 8 2 2 2]
 [3 3 3 5 5 5]]

In [89]:
b.repeat(2, axis=0) # repetition sur la colonne

array([[8, 8, 8, 2, 2, 2],
       [8, 8, 8, 2, 2, 2],
       [3, 3, 3, 5, 5, 5],
       [3, 3, 3, 5, 5, 5]])

![La fonction pad](https://miro.medium.com/max/720/1*nymIetfKC2vkbmNrxoSeGg.png)<br>
La fonction ```pad``` permet d'ajouter des bordures de valeur a notre matrice.<br>
```pad(matrice, ((top, bottom),(left, right)), constant_values=default_value)```